
@font-face {
    font-family: 'nexa';
    src: url('../nexa/nexa_bold-webfont.woff2') format('woff2'),
         url('../nexa/nexa_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'nexa';
    src: url('../nexa/nexa_light-webfont.woff2') format('woff2'),
         url('../nexa/nexa_light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}




@font-face {
    font-family: 'nexa_book';
    src: url('../nexa/nexa-book-webfont.woff2') format('woff2'),
         url('../nexa/nexa-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa_black';
    src: url('../nexa/nexablack-webfont.woff2') format('woff2'),
         url('../nexa/nexablack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa';
    src: url('../nexa/nexaheavy-webfont.woff2') format('woff2'),
         url('../nexa/nexaheavy-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;

}




@font-face {
    font-family: 'nexa';
    src: url('../nexa/nexaregular-webfont.woff2') format('woff2'),
         url('../nexa/nexaregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
